[defaults]
inventory = ./inventory/hosts.ini
roles_path = ./roles
interpreter_python = auto_silent

stdout_callback = yaml
bin_ansible_callbacks = True

retry_files_enabled = False
forks = 10
display_skipped_hosts = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=300s
control_path = ~/.ssh/ansible-%%r@%%h:%%p
