version: "3.9"

services:
  gitlab-runner:
    image: "gitlab/gitlab-runner:{{ gitlab_runner_version }}"
    container_name: gitlab-runner
    restart: always
    privileged: {{ docker_privileged | lower }}
    user: root

    volumes:
      - "{{ runner_config_dir }}:/etc/gitlab-runner"
      - "{{ runner_cache_dir }}:/cache"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/builds:/builds:rw"

    environment:
      DOCKER_TLS_CERTDIR: ""
